{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% macro order_list(order_list) %}
    <ul>
        {% for item in order_list %}
            <li><a href="/zamowienie/{{ item.id }}/">#{{ item.id }} {{ item.nazwa }}</a></li>
        {% else %}
            <li>Brak</li>
        {% endfor %}
    </ul>
{% endmacro %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bruk&Trawnik</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <style>
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}


    </style>

</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse nabar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('home') }}">Bruk&Trawnik</a>
            <ul class="nav navbar-nav">

                <li><a href="{{ url_for('order_archive') }}">Archwium zamówień</a></li>
                <li><a href="{{ url_for('customers') }}">Klienci</a></li>
                <li><a href="{{ url_for('experts') }}">Rzeczoznawcy</a></li>
            </ul>
        </div>
    </nav>
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</div>
</body>
</html>
