{% extends 'base.html' %}

{% block content %}
<h1>Rejestracja zlecenia wykonania kosztorysu</h1>
<h5>Dla zamówienia #{{ order_id }}</h5>
<p>Zostanie zarejestrowanie zlecenie wykonania kosztorysu z datą dzisiejszą.</p>

<form method=post>
  <dl>
    {{ render_field(estimate_order_form.expert) }}
    <p><i>Rzeczoznawca nie znajduje się w bazie? Można dodać go <a href="{{ url_for('new_expert') }}">tutaj</a>,

  </dl>
  <p><input type=submit value=Zapisz class="btn btn-primary btn-sm">
</form>

{% endblock content %}
