{% extends 'base.html' %}

{% block content %}
        <div class="row">
            <div class="col-md-6">
                <h4>BOK</h4>

                <a href="nowe_zamowienie/" class="btn btn-default">Przyjmij zamówienie</a>

                <p>Otwarte sprawy:</p>
                <h5>Kosztorysy do zatwierdzenia</h5>
                {{ order_list(kosztorysy_do_zatwierdzenia) }}
                <h5>Zlecenia do zatwierdzenia</h5>
                {{ order_list(zlecenia_do_zatwierdzenia) }}

            </div>
            <div class="col-md-6">
                <h4>Inspektor d/s rzeczoznawców</h4>

                <h5>Oczekujące zamówienia</h5>
                {{ order_list(oczekujace_zamowienia) }}
                <h5>Zlecone kosztorysy</h5>
                {{ order_list(zlecone_kosztorysy) }}

            </div>
{% endblock %}
