{% extends 'base.html' %}

{% block content %}
<h1>Zamówienie #{{ details.id }} {{ details.nazwa }}</h1>

<p>{{ details.opis }}</p>

<h5>Zamawiający:</h5>
<p>{{ details.nazwa_klienta }}, {{ details.telefon }}, {{ details.email }}</p>
<p>{{ details.dane_do_faktury }}</p>

<h5>Kosztorys</h5>
{% if estimate_order is none %}
<p>Nie zostało zarejestrowane zamówienie kosztorysu.</p>
<p><a href="{{ url_for('order_estimate', order_id=details.id) }}" class="btn btn-default">
    Zarejestruj zamówienie kosztorysu
</a></p>
{% else %}
    <p>Kosztorys został zamówiony {{ estimate_order.czas_zamowienia }} u rzeczoznawcy
        {{ estimate_order.nazwa_rzeczoznawcy }}.</p>

    {% if estimate is none %}
        <p><a href="{{ url_for('new_estimate', order_id=details.id) }}" class="btn btn-default">
            Zapisz kosztorys
        </a></p>
    {% endif %}
{% endif %}


{% endblock %}