{% extends 'base.html' %}

{% block content %}
<h1>Zamówienie #{{ details.id }} {{ details.nazwa }}</h1>

<p>{{ details.opis }}</p>

<h5>Zamawiający:</h5>
<p>{{ details.nazwa_klienta }}, {{ details.telefon }}, {{ details.email }}</p>
<p>{{ details.dane_do_faktury }}</p>

<h5>Kosztorys</h5>
{% if estimate_order is none %}
<p>Nie zostało zarejestrowane zamówienie kosztorysu.</p>
<p><a href="{{ url_for('order_estimate', order_id=details.id) }}" class="btn btn-default">
    Zarejestruj zamówienie kosztorysu
</a></p>
{% else %}
    <p>Kosztorys został zamówiony {{ estimate_order.czas_zamowienia }} u rzeczoznawcy
        {{ estimate_order.nazwa_rzeczoznawcy }}.</p>

    {% if details.kosztorys_id is none %}
        <p><a href="{{ url_for('new_estimate', order_id=details.id) }}" class="btn btn-default">
            Zapisz kosztorys
        </a></p>
    {% else %}
        <p>Kosztorys sporządzony {{ details.czas_sporzadzenia_kosztorysu }}.</p>
        {% if details.zlecenie_id is none %}
            <p><a href="{{ url_for('accept_jobs', order_id=details.id) }}" class="btn btn-default">
                Wprowadź akceptację prac przez klienta
            </a></p>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th>Opis pracy</th>
                <th>Koszt</th>
                <th>Zaakceptowane</th>
            </tr>
            </thead>
            <tbody>
              {% for job in jobs %}
                <tr>
                    <td>{{ job.opis }}</td>
                    <td>{{ job.koszt }}</td>
                    <td>
                        {% if job.zaakceptowane is none %}
                            -
                        {% else %}
                            {% if job.zaakceptowane %}tak{% else %}nie{% endif %}
                        {% endif %}
                    </td>
                </tr>
              {% endfor %}
            </tbody>
        </table>
        {% if details.zlecenie_id is not none %}
            {% if details.zaakceptowane_przez_klienta %}
                <p>Zaakceptowane przez klienta. Zamówienie znajduje się w archwium.</p>
            {% else %}
                <p><a href="{{ url_for('accept_contract', order_id=details.id) }}" class="btn btn-default">
                    Wprowadź akceptację klienta i przenieś do archwium
                </a></p>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}


{% endblock %}